# Database settings (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/manevo_money?schema=public"

# Backend configuration
PORT=4000
JWT_SECRET="generate-a-long-random-string-for-production-12345!"
CLIENT_URL="http://localhost:5173"

# Frontend Configuration
VITE_API_URL="http://localhost:4000/api"
